<footer class="footer">
    <p>SleepRescue.org © 2021</p>
    <span>
        <p class="inline-block">Built with Phoenix</p>
        <img class="inline-block" src="https://raw.githubusercontent.com/ivan-rivera/sleeprescue/master/assets/static/phoenix.svg"/>
    </span>
</footer>
