<header>
    <nav>
    <ul>
        <li><a href="#"><i class="fa fa-exclamation-triangle"></i> Terms of Service</a></li>
        <li><a href="#"><i class="fa fa-file"></i> Privacy</a></li>
        <li><a href="#"><i class="fa fa-phone-square"></i> Contact</a></li>
        <li><a href="#"><i class="fa fa-info-circle"></i> About</a></li>
        <li><a href="#"><i class="fa fa-user-circle"></i> Account</a></li>
    </ul>
    </nav>
</header>
