<ul>
    <li class="head-option"><a href="#"><i class="fa fa-paperclip"></i> Terms of Service</a></li>
    <li class="head-option"><a href="#"><i class="fa fa-file"></i> Privacy</a></li>
    <li class="head-option"><a href="#"><i class="fa fa-phone-square"></i> Contact</a></li>
    <li class="head-option"><a href="#"><i class="fa fa-info-circle"></i> About</a></li>
    <li class="head-option"><a href="#"><i class="fa fa-user-circle"></i> Account</a></li>
</ul>
