<ul>
    <li class="head-option"><i class="fa fa-paperclip"></i> <%= link "Terms of Service", to: Routes.tc_path(@conn, :index) %></li>
    <li class="head-option"><i class="fa fa-file"></i> <%= link "Privacy", to: Routes.privacy_path(@conn, :index) %></li>
    <li class="head-option"><i class="fa fa-phone-square"></i> <%= link "Contact", to: Routes.contact_path(@conn, :index) %></li>
    <li class="head-option"><i class="fa fa-info-circle"></i> <%= link "About", to: Routes.about_path(@conn, :index) %></li>
    <li class="head-option"><i class="fa fa-user-circle"></i> <a href="#">Account</a></li>
</ul>
